<%- include('partials/header', {pageTitle: 'Gamefy'}) %>

<link rel="stylesheet" href="../css/createAndUpdate.css">

<main>
  <div class="container background-container">
    <form class="review-form text-white" id="review-form">
      <div class="text-center">
        <img id="gamePoster" class="img-poster img-fluid ">
        <h1 id="gameTitle" class="">Título do Filme</h1><br>
      </div>


      <label for="comment">De 1 a 5, como você classificaria esse jogo?</label><br>
      <input type="hidden" id="rating" name="rating" required>
      <div id="stars1">
        <span class="star" data-value="1">☆</span>
        <span class="star" data-value="2">☆</span>
        <span class="star" data-value="3">☆</span>
        <span class="star" data-value="4">☆</span>
        <span class="star" data-value="5">☆</span>
      </div><br>
      
      <label for="comment">Compartilhe sua Experiência: </label><br>
      <textarea id="comment" name="comment" rows="4" cols="50" placeholder="Adorei esse jogo!"></textarea><br>

      <label for="isPublic">Deseja que os outros vejam sua avaliação?</label><br>
      <input type="checkbox" id="isPublic" name="isPublic" checked><br><br>

      <input class="submit-button btn-primary" type="submit" id="create-review-button" value="Enviar">
      
      <a href="/" class="back-link">Voltar para a página inicial</a>
    </form>
  </div>
</main>

<%- include('partials/footer') %>

<script src="../js/CreateReview.js"></script>