<%- include('partials/header', {pageTitle: 'Gamefy'}) %>

<link rel="stylesheet" href="../css/getGameById.css">

<main>
  <div class="container">
    <ul id="results"></ul>
  </div>
</main>

<%- include('partials/footer') %>

<script src="../js/GetGameById.js"></script>
