<%- include('partials/header', {pageTitle: 'Critix - Movie Search' }) %>

  <link rel="stylesheet" href="../css/getAllReviews.css">

  <main class="container">
    <section class="reviews p-4">
      <h1 id="pageTitle"></h1>
      <div id="lists">
      </div>
      <div id="button">
      </div>
      <br>
      
      <a href="/profile" class="back-link d-block mt-4 text-center">
        <i class="fa-solid fa-user" style="color: #ffffff; font-size: 30px;"></i>
      </a>

      <a href="/" class="back-link d-block mt-4 text-center">
        <i class="fa-solid fa-house" style="color: #ffffff; font-size: 30px;">
        </i>
      </a>

    </section>
  </main>

  <%- include('partials/footer') %>

    <script src="../js/getListById.js"></script>