<%- include('partials/header', {pageTitle: 'Gamefy'}) %>

<link rel="stylesheet" href="../css/getReviews.css"> 

<main class="container">
    <section class="reviews p-4">
        <h1 id="pageTitle"></h1><br>
        <div id="reviews"></div>
        <a href="/" class="back-link d-block text-white mt-4 text-center">Página Inicial</a>
    </section>
</main>

<%- include('partials/footer') %>

<script src="../js/GetReviewsByGame.js"></script>

