<%- include('partials/header', {pageTitle: 'Critix - Movie Search' }) %>

    <link rel="stylesheet" href="../css/getAllReviews.css">

    <main class="container">
        <section class="reviews p-4">

            <h1 id="pageTitle"></h1>
            <br>
            <select id="sortOptions">
                <option value="latest">Mais Recente</option>
                <option value="oldest">Mais Antigo</option>
                <option value="rating_desc">Maior Nota</option>
                <option value="rating_asc">Menor Nota</option>
                <option value="comment_desc">Mais Comentada</option>
                <option value="comment_asc">Menos Comentada</option>
                <option value="title_desc">A - Z</option>
                <option value="title_asc">Z - A</option>
            </select>

            <div id="reviews"></div>
            <a href="/profile" class="back-link d-block mt-4 text-center">
                <i class="fa-solid fa-user" style="color: #ffffff; font-size: 30px;"></i>
            </a>
            <a href="/" class="back-link d-block mt-4 text-center">
                <i class="fa-solid fa-house" style="color: #ffffff; font-size: 30px;">
                </i>
            </a>
        </section>
    </main>

    <%- include('partials/footer') %>

        <script src="../js/GetUserReview.js"></script>