<%- include('partials/header', {pageTitle: 'Gamefy'}) %>

<link rel="stylesheet" href="../css/index.css" />

<main class="p-4">
  <section class="container mt-5 index-container">
    <div class="row w-100">
      <div class="col-md-6 text-center">
        <img
          src="../images/foto-section-1.jpg"
          alt="Paraíso dos Jogos"
          class="img-fluid animate__animated img-bordered animate__fadeInLeft"
        />
      </div>
      <div class="col-md-6 text-center section-content">
        <h2 class="section-title animate__animated animate__fadeInUp">
          Embarque em uma Odisseia Gamer
        </h2>
        <p class="section-text animate__animated animate__fadeIn">
          Bem-vindo ao GameFy, onde você embarca em uma odisseia fascinante de
          jogos. Explore nossos recursos e apaixone-se por jogos de uma maneira
          totalmente nova. Não é apenas jogar; é mergulhar em histórias
          imersivas, compartilhar suas opiniões e descobrir jogos que desafiarão
          suas habilidades.
        </p>
      </div>
    </div>
  </section>
  <br />

  <section class="container index-container-tendency">
    <div class="w-100">
      <div
        class="text-center section-content d-flex justify-content-center align-items-center flex-column"
        id="carousel-section"
      >
        <h2 class="section-title animate__animated animate__fadeInUp">
          Jogos em tendência
        </h2>
        <div id="games-tendency" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner"></div>
          <a
            class="carousel-control-prev"
            href="#games-tendency"
            role="button"
            data-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
          </a>
          <a
            class="carousel-control-next"
            href="#games-tendency"
            role="button"
            data-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Próximo</span>
          </a>
        </div>
      </div>
    </div>
  </section>
  <br />

  <section class="container mt-5 index-container">
    <div class="row w-100">
      <div class="col-md-6 text-center section-content">
        <h2 class="section-title animate__animated animate__fadeInUp">
          Descubra Jogos Incríveis
        </h2>
        <p class="section-text animate__animated text-black animate__fadeIn">
          No GameFy, nossa biblioteca de jogos é verdadeiramente eclética e
          abrangente. Dos épicos que desafiaram gerações aos tesouros escondidos
          no cenário independente, oferecemos uma coleção que cativa a mente e
          testa suas habilidades. Se você busca a nostalgia dos clássicos que
          resistiram ao teste do tempo ou a emoção dos mais recentes lançamentos
          que definem tendências, você está no lugar certo.
        </p>
      </div>
      <div class="col-md-6 text-center">
        <img
          src="../images/foto-section-2.jpg"
          alt="Maravilhas dos Jogos"
          class="img-fluid animate__animated img-bordered animate__fadeInRight"
        />
      </div>
    </div>
  </section>
  <br />

  <section class="container mt-5 index-container">
    <div class="row w-100">
      <div class="col-md-6 text-center">
        <img
          src="../images/foto-section-3.jpg"
          alt="Conexão com a Comunidade"
          class="img-fluid animate__animated img-bordered animate__fadeInLeft"
        />
      </div>
      <div class="col-md-6 text-center section-content">
        <h2 class="section-title animate__animated animate__fadeInUp">
          Conecte-se à Comunidade Gamer
        </h2>
        <p class="section-text animate__animated animate__fadeIn text-black">
          No GameFy, a experiência vai além da simples atividade de jogar. É um
          espaço dedicado aos verdadeiros apaixonados por jogos, onde você não
          apenas joga, mas também tem a oportunidade de se envolver em conversas
          profundas e enriquecedoras sobre eles. Aqui, você pode compartilhar
          suas opiniões, estratégias e descobrir análises detalhadas feitas por
          nossos membros dedicados.
        </p>
      </div>
    </div>
  </section>
  <br />
</main>

<script src="../js/index.js"></script>
<%- include('partials/footer') %>
