@import url('https://fonts.googleapis.com/css2?family=Nexa:wght@400;500;700&display=swap');

body {
  font-family: 'Nexa', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}


form {
  display: flex;
  margin-top: 30px;
  margin-left: 215px;
  position: relative;
}


input[type="search"] {
  width: 500px;
  font-size: 16px;
  border: 2px solid #4a4a4a;
  border-radius: 25px;
  padding: 12px 20px;
  box-shadow: 0 0 10px rgba(233, 5, 241, 0.5);
  transition: box-shadow 0.3s ease-in-out;
  background-color: #f8f8f8;
}

input[type="search"]:focus {
  outline: none;
  box-shadow: 0 0 15px rgba(233, 5, 241, 0.8);
}

button[type="submit"] {
  background-color: #3f063c;
  border: none;
  border-radius: 25px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  padding: 12px 20px;
  margin-left: -50px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0 0 10px rgba(233, 5, 241, 0.5);
}

button[type="submit"]:hover {
  background-color: #5c0b5c;
}

#results {
  margin-top: 30px;
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#results li {
  cursor: pointer;
  background-color: #000000;
  border: 1px solid rgb(233, 5, 241);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 10px;
  transition: transform 0.2s ease-in-out;
  list-style-type: none;
  width: 18%;
  margin-right: 2%;
}

#results li:nth-child(5n) {
  margin-right: 0;
}

#results li:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 25px rgba(255, 255, 255, 1);
}

.movie-li {
  font-size: 1.2em;
  font-weight: bold;
  color: #ffffff;
}

.img-poster {
  cursor: pointer;
  background-color: #000000;
  border: 2px solid #000000;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 5px;
  height: 250px;
  width: 350px;
  margin-top: 20px;
  transition: transform 0.2s ease-in-out;
  list-style-type: none;
  object-fit: cover;
}

.img-poster:hover {
  transform: translateY(-5px);
  border-color: rgb(233, 5, 241);
  box-shadow: 0 0 10px rgb(233, 5, 241);
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: center;
}


.game-text {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
  margin-top: 10px;
}
