@import url('https://fonts.googleapis.com/css2?family=Nexa:wght@400;500;700&display=swap');

body {
  font-family: 'Nexa', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

.btn-primary {
  background-color: #ffffff;
  border-color: #3f063c;
  color: #000000;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #3f063c;
  border-color: #3f063c;
  color: #ffffff;
}

.section-content {
  margin-bottom: 20px;
}

.section-title {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 20px;
  color: #ffffff;
  white-space: nowrap;
  text-shadow: 2px 2px 4px #8a63a9;
  letter-spacing: 1px;
}


.section-text {
  font-size: 18px;
  color: #ffffff;
  line-height: 1.5;
}

.img-bordered {
  border: 5px solid rgb(0, 0, 0);
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
}

.index-container {
  display: flex;
  align-items: center;
  padding: 20px;
  position: relative;
  background: linear-gradient(to left, #000000, #3f063c);
  border: 2px solid #000000;
  border-radius: 20px;
  border-color: rgb(233, 5, 241);
  box-shadow: 0 0 10px rgb(233, 5, 241);
  text-align: center;
}


.index-container-tendency {
  display: flex;
  align-items: center;
  padding: 20px;
  position: relative;
  background: linear-gradient(to left, #000000, #3f063c);
  border: 2px solid #000000;
  border-radius: 20px;
  border-color: rgb(233, 5, 241);
  box-shadow: 0 0 10px rgb(233, 5, 241);
  text-align: center;
}


.img-poster {
  box-shadow: 0 0 6px rgb(255, 255, 255);
  height: 250px;
  width: 500px;
  margin-top: 26px;
  transition: transform 0.2s ease-in-out;
  list-style-type: none;
  object-fit: cover;
  margin-left: 150px;
}

.img-poster:hover {
  transform: translateY(-5px);
  border-color: rgb(233, 5, 241);
  box-shadow: 2px 2px 10px rgb(233, 5, 241);
}

#games-tendency .carousel-control-prev, #games-tendency .carousel-control-next {
  width: 5%;
  font-size: 24px;
}

#games-tendency .carousel-control-prev {
  left: 17.5%;
}

#games-tendency .carousel-control-next {
  right: -5%;
}

.game-title{
  margin-right: -150px;
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 20px;
  color: #ffffff;
  white-space: nowrap;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  letter-spacing: 1px;
}

body {
  font-family: Arial, sans-serif;
}