@import url('https://fonts.googleapis.com/css2?family=Nexa:wght@400;500;700&display=swap');

body {
  font-family: 'Nexa', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

.row {
  justify-content: center;
}

.form-label {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 20px;
  display: block;
}

.cat-options {
  display: flex;
  justify-content: left;
}

.cat-option {
  margin: 0 20px;
  transition: transform 0.3s;
}

.cat-option:hover {
  transform: scale(1.1);
}

.cat-radio {
  display: none;
}

.cat-image {
  width: 130px;
  height: 130px;
  object-fit: cover;
  cursor: pointer;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 100px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease;
}

.img-bordered {
  border: 5px solid rgb(0, 0, 0);
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
}

.login-form {
  background: linear-gradient(to right, #000000, #3f063c);

  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.form-group {
  margin-bottom: 20px;
  color: #ffffff;
}

.form-control {
  border: 4px solid #383838;
  border-radius: 5px;
}

.form-control:focus {
  border-color: #000000;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.btn-primary {
  background-color: #3f063c;
  border-color: #000000;
  color: #ffffff;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #ffffff;
  color: #000000;
  border-color: #000000;
}


input[type="text"],
input[type="number"],
textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 2px solid #6c5ce7;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  transition: border-color 0.3s, box-shadow 0.3s;
  color: #ffffff;
  background-color: #000000;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input[type="text"]:focus,
input[type="number"]:focus,
textarea:focus {
  outline: none;
  border-color: #d3008d;
  color: #ffffff;
  background-color: #000000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="date"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 2px solid #6c5ce7;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  transition: border-color 0.3s, box-shadow 0.3s;
  color: #ffffff;
  background-color: #000000;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input[type="date"]:focus {
  outline: none;
  border-color: #d3008d;
  color: #ffffff;
  background-color: #000000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Styles for select input */
select {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 2px solid #6c5ce7;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  transition: border-color 0.3s, box-shadow 0.3s;
  color: #ffffff;
  background-color: #000000;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

select:focus {
  outline: none;
  border-color: #d3008d;
  color: #ffffff;
  background-color: #000000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


input[type="checkbox"] {
  margin-left: 5px;
}